<div class="container mt-2">
    <div class="row justify-content-center">
        <div class="col-10 bienvenue">
            <h2>Statistiques</h2>
            Consultez les statistiques sur vos parties, les parties de vos amis et celles des autres joueurs !
        </div>
    </div>
</div>

<div class="container mt-2 menuIndex">
    <div class="row">
        <a class="col-auto" asp-action="ToutesParticipations">
            <img src="/images/boutonStats0.png" alt="Stats">
            <span class="statTitle">Toutes les participations</span>
        </a>
    </div>
</div>