<div class="container mt-2">
    <div class="row justify-content-center">
        <div class="col-10 bienvenue">
            Bienvenue sur <b>Sussy Kart</b> ! Si c'est votre première visite, commencez par consulter le tutoriel. Ensuite,
            jouez un peu et consultez les statistiques sur vos parties, celles de vos amis et celles de tous les joueurs !
        </div>
    </div>
</div>

<div class="container mt-2 menuIndex">
    <div class="row">
        <a class="col-auto" href="/Jeu/Tutoriel">
            <img src="/images/boutonTutoriel.png" alt="Tutoriel">
            <span class="menuTitle">Tutoriel</span>
        </a>
        <a class="col-auto" href="/Jeu/Jouer">
            <img src="/images/boutonJouer.png" alt="Jouer">
            <span class="menuTitle">Jouer</span>
        </a>
    </div>
    <div class="row">
        <a class="col-auto" href="/Stats/Index">
            <img src="/images/boutonStatistiques.png" alt="Statistiques">
            <span class="menuTitle">Statistiques</span>
        </a>
        <a class="col-auto" href="/Utilisateurs/Profil">
            <img src="/images/boutonProfilAmis.png" alt="Profil et amis">
            <span class="menuTitle">Profil et amis</span>
        </a>
    </div>
</div>