<div class="container mt-2">
    <div class="row justify-content-center">
        <div class="col-10 bienvenue">
            <h2>Tutoriel</h2>
            Cette page décrit comment jouer à Sussy Kart. Bonne lecture !
        </div>
    </div>
</div>

<div class="container mt-2 tutoriel">
    <div class="row justify-content-center mb-2">
        <div class="col-6">
            <h5>But du jeu</h5>
            Le but du jeu est simplement de compléter un certain nombre de tours de circuit. Gardez
            un oeil sur le nombre de tours qu'il vous reste à compléter en haut à droite de l'écran. Terminez avant les autres !
        </div>
        <div class="col-auto">
            <img src="/images/tuto1.png" alt="Tutoriel">
        </div>
    </div>
    <div class="row justify-content-center mb-2">
        <div class="col-6">
            <h5>Contrôles</h5>
            Les touches ← et → vous permettront de faire pivoter votre véhicule sur lui-même. La touche ↑ vous
            permet d'avancer. (Vous pouvez avancer et pivoter en même temps) La touche ↓ sert à activer votre item,
            si vous en avez un. Ne tombez pas dans le vide et ne foncez pas dans les autres joueurs !
        </div>
        <div class="col-auto">
            <img src="/images/tuto2.png" alt="Tutoriel">
        </div>
    </div>
    <div class="row justify-content-center mb-2">
        <div class="col-6">
            <h5>Items</h5>
            Foncer dans une boîte multicolore <img src="/images/box.gif" alt="Item"> vous donnera un item parmi
            <img src="/images/banana.png" alt="Banane">, <img src="/images/mushroom.png" alt="Champignon">,
            <img src="/images/rocket.png" alt="Fusée"> ou <img src="/images/star.png" alt="Étoile">. Lorsque vous êtes
            en mauvaise posture, vous obtiendrez de meilleurs items aléatoires. Utilisez votre item avec la touche ↓ !
        </div>
        <div class="col-auto">
            <img src="/images/tuto3.png" alt="Tutoriel">
        </div>
    </div>
</div>